@font-face {
    font-family: OpenDyslexic;
    font-style:normal;
    font-weight: 400;
    src: url("../assets/font/OpenDyslexic-Regular.otf") format("opentype");
}
@font-face {
    font-family: OpenDyslexic;
    font-style:normal;
    font-weight: 700;
    src: url("../assets/font/OpenDyslexic-Bold.otf") format("opentype");
}
@font-face {
    font-family: OpenDyslexic;
    font-style:italic;
    font-weight: 400;
    src: url("../assets/font/OpenDyslexic-Italic.otf") format("opentype");
}
@font-face {
    font-family: OpenDyslexic;
    font-style:italic;
    font-weight: 700;
    src: url("../assets/font/OpenDyslexic-BoldItalic.otf") format("opentype");
}

  html, body{
    background-color: #dffc03;
      font-family: 'OpenDyslexic';
    margin: 0;
    padding: 0;
    font-size: 24px;
  }
  #content{
    position:absolute;
    margin-top: 25px;
    margin-left: 25px;
  }
  #overflow{
    position:absolute;
  }
